node_modules/
knexfile.ts
.DS_Store
.next

packages/cron/config/google-drive/credentials.json
packages/cron/config/google-drive/token.json
packages/cron/config/config.json
packages/cron/dumps
packages/cron/build
packages/cron/ecosystem.config.js

packages/shared/config.ts
logs